main {
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > * {
    margin: 30px;
}

form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 15px;
    padding: 20px;
    background-color: white;
}

form button {
    grid-column: 1 / span 2;
}

circle {
    fill: none;
    stroke: #a0a0f0;
    stroke-width: 2px;
}
line {
    stroke: #a0a0f0;
    stroke-width: 1px;
}
